@model CarService.Models.EstimateInvoiceViewModel
@using CarService.Models.Constants;

@{
    ViewData["Title"] = Model.Job.FldVehicleRegisteredNumber + "_" + Model.Job.FldCustomerName + "_" + DateTime.Now.ToString("dd-MMM-yyyy");
}


<div class="d-flex flex-row justify-content-end p-2 bg-light">
    <a asp-action="Edit" asp-controller="JobMasters" asp-route-id="@Model.Job.FldJobId" class="btn btn-sm btn-primary">Modify Job</a>
    <div class="p-2"></div>
    <a asp-action="Edit" asp-route-id="@Model.Estimate.FldEstimateId" class="btn btn-sm btn-primary">Modify Estimate</a>
    <div class="p-2"></div>
    <input type="button" class="btn btn-sm btn-danger" value="Print" onclick="window.print()" />
    <div class="p-2"></div>
    <a asp-action="Index" asp-controller="JobMasters" class="btn btn-sm btn-outline-primary">Back to My Jobs</a>
</div>


<div class="PrintArea bg-white">

    @*<header style="display:table-header-group !important" >*@
    @*</header>*@
    @*letterhead block : Organization name address & contact detail, Watermark *@
    @Html.Partial("./PrintHeader.cshtml")


    @*title block : customer, vehicle & invoice detail *@
   
    @Html.Partial("./PrintTitle.cshtml")

    @*Parts breakup*@
    <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Parts Breakup</h4>
    <table class="table table-borderless mb-0">
        <thead>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
            </tr>
            <tr>
                <th>Sr No</th>
                <th>HSN</th>
                <th>Part Detail</th>
                <th>Quantity</th>
                <th class="text-end">Rate</th>
                <th class="text-end">Amount</th>
                <th class="text-end">Discount</th>
                <th class="text-end">CGST</th>
                <th class="text-end">SGST</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                int srNo = 0;
            }
            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
            {
                @if (item.FldItemType == ServiceItemTypes.Part && item.FldIsCancelled == false)
                {
                    srNo++;
                    <tr>
                        <td>@srNo</td>
                        <td>@item.FldHsnNumber</td>
                        <td>@item.FldItemTitle</td>
                        <td>@item.FldQuantity @item.FldQuantityUnit</td>
                        <td class="text-end">@Math.Round(item.FldUnitAmount,2)</td>
                        <td class="text-end">@Math.Round(item.ItemTotal,2)</td>
                        <td class="text-end">@Math.Round(item.DiscountAmount,2)<br /><i class="small"> @Math.Round(item.FldDiscountAmount,2)%</td>
                        <td class="text-end">@Math.Round(item.CGST_Amount,2)<br /><i class="small"> @Math.Round(item.FldCgstpercentage.Value,2)%</i></td>
                        <td class="text-end">@Math.Round(item.SGST_Amount,2)<br /><i class="small">@Math.Round(item.FldSgstpercentage.Value,2)%</i></td>
                        <td class="text-end">@Math.Round(item.FldItemTotal,2)</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="fw-bold bg-light">
                <td colspan="9" class="text-end">Parts Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Part && i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
        </tfoot>
    </table>

    @*Services breakup*@
    <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Labour Breakup</h4>
    <table class="table table-borderless mb-0">
        <thead>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
            </tr>
            <tr>
                <th>Sr No</th>
                <th>HSN</th>
                <th>Service Description</th>
                <th class="text-end">Rate</th>
                <th class="text-end">Amount</th>
                <th class="text-end">Discount</th>
                <th class="text-end">CGST</th>
                <th class="text-end">SGST</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                srNo = 0;
            }
            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
            {
                @if (item.FldItemType == ServiceItemTypes.Labor && item.FldIsCancelled == false)
                {
                    srNo++;
                    <tr>
                        <td>@srNo</td>
                        <td>@item.FldHsnNumber</td>
                        <td>@item.FldItemTitle</td>
                        <td class="text-end">@Math.Round(item.FldUnitAmount,2)</td>
                        <td class="text-end">@Math.Round(item.ItemTotal,2)</td>
                        <td class="text-end">@Math.Round(item.DiscountAmount,2)<br /><i class="small"> @Math.Round(item.FldDiscountAmount,2)%</td>
                        <td class="text-end">@Math.Round(item.CGST_Amount,2)<br /><i class="small"> @Math.Round(item.FldCgstpercentage.Value,2)%</i></td>
                        <td class="text-end">@Math.Round(item.SGST_Amount,2)<br /><i class="small">@Math.Round(item.FldSgstpercentage.Value,2)%</i></td>
                        <td class="text-end">@Math.Round(item.FldItemTotal,2)</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot class="fw-bold bg-light">
            <tr>
                <td colspan="8" class="text-end">Labour Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Labor && i.FldIsCancelled ==false )?i.FldItemTotal:0),2)</td>
            </tr>
        </tfoot>
    </table>

    @*Summary*@
    <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Summary</h4>
    <table class="table table-borderless mb-0">
        <thead>
            <tr>
                <td class="col-md-8"></td>
                <td class="col-md-2"></td>
                <td class="col-md-2"></td>
            </tr>
            <tr>
                <th class="bg-white"></th>
                <th>Title</th>
                <th class=" text-end">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Parts Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Part && i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
            <tr>
                <td></td>
                <td>Labour Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Labor && i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
            <tr class="fs-4 fw-bold">
                <td></td>
                <td>Grand Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
        </tbody>
    </table>

    @*Remark*@
    @if (Model.EstimateItems.Count(i => i.FldIsCancelled) > 0)
    {
        <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Remarks</h4>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-4"></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-5"></td>
                </tr>
                <tr>
                    <th>Sr No</th>
                    <th>HSN</th>
                    <th>Item Description</th>
                    <th>Type</th>
                    <th>Cancellation Reason</th>
                </tr>
            </thead>
            <tbody>
                @{
                    srNo = 0;
                }
                @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
                {
                    @if (item.FldIsCancelled == true)
                    {
                        srNo++;
                        <tr>
                            <td>@srNo</td>
                            <td>@item.FldHsnNumber</td>
                            <td>@item.FldItemTitle</td>
                            <td>@item.FldItemType</td>
                            <td>@item.FldCancelReason</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

