@model CarService.Models.EstimateInvoiceViewModel
@using CarService.Models.Constants;

@{
    ViewData["Title"] = Model.Job.FldVehicleRegisteredNumber + "_" + Model.Job.FldCustomerName+"_"+DateTime.Now.ToString("dd-MMM-yyyy");
}


<div class="d-flex flex-row justify-content-end p-2 bg-light">
    <a asp-action="Edit" asp-controller="JobMasters" asp-route-id="@Model.Job.FldJobId" class="btn btn-sm btn-primary">Modify Job</a>
    <div class="p-2"></div>
    <a asp-action="Edit" asp-route-id="@Model.Estimate.FldEstimateId" class="btn btn-sm btn-primary">Modify Estimate</a>
    <div class="p-2"></div>
    <input type="button" class="btn btn-sm btn-danger" value="Print" onclick="window.print()" />
    <div class="p-2"></div>
    <a asp-action="Index" class="btn btn-sm btn-outline-primary">Back to List</a>
</div>


<div class="PrintArea bg-white">
    @*letterhead block : Organization name address & contact detail *@
    <div class="d-flex flex-row mb-2">
        @*Logo*@
        <div class="d-flex ps-4 pe-4">
            <img src="@Context.Session.GetString(SessionKeys.OrgLogo)" style="width:100px;height:100px;" />
        </div>
        @*org name, address & contact*@
        <div class="d-flex flex-fill flex-column ps-4 pe-4">
            <div class="d-flex display-5">@Model.Org.FldOrgName</div>
            @*Address*@
            <div class="d-flex mt-3 fst-italic align-items-baseline">
                @Model.Org.FldAddress
            </div>
            @*Contact*@
            <div class="d-flex flex-row align-items-baseline">
                <div class="d-flex"> Email : @Model.Org.FldOrgEmail</div>
                @if (!string.IsNullOrEmpty(Model.Org.FldContactNumber1) && !string.IsNullOrEmpty(Model.Org.FldContactPerson1))
                {
                    <div class="d-flex ps-2 pe-2">|</div>
                    <div class="d-flex">@Model.Org.FldContactPerson1 : @Model.Org.FldContactNumber1</div>
                }
                @if (!string.IsNullOrEmpty(Model.Org.FldContactNumber2) && !string.IsNullOrEmpty(Model.Org.FldContactPerson2))
                {
                    <div class="d-flex ps-2 pe-2">|</div>
                    <div class="d-flex">@Model.Org.FldContactPerson2 : @Model.Org.FldContactNumber2</div>
                }
                
            </div>
           
        </div>
       
    </div>
    
    @*title block : customer, vehicle & invoice detail *@
    <div class="d-flex flex-row  border-top border-bottom border-dark p-3 mb-2">
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <td colspan="2" class="fw-bold fs-5 text-secondary pb-3">Customer</td>
                    <td colspan="2" class="fw-bold fs-5 text-secondary ">Vehicle</td>
                    <td colspan="2" class="fw-bold fs-5 ">@Model.Estimate.FldInvoiceType</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Model.Job.FldCustomerName</td>
                    <td>Vehicle Number</td>
                    <td>@Model.Job.FldVehicleRegisteredNumber</td>
                    <td>@(Model.Estimate.FldIsInvoiceGenerated?"Invoice No":"Estimate No")</td>
                    <td>
                        @if (Model.Estimate.FldIsInvoiceGenerated)
                        {
                            <span>@Model.Estimate.FldInvoiceNumber</span>
                        }
                        else
                        {
                            <span>@Model.Estimate.FldEstimateNumber</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>@Model.Job.FldCustomerContact1</td>
                    <td>Kilometre</td>
                    <td>@Math.Round(Model.Job.FldKmReadingOnRegistration,1) km</td>
                    <td>Date</td>
                    <td>
                        @if (Model.Estimate.FldIsInvoiceGenerated)
                        {
                            <span>@Model.Estimate.FldInvoiceCreatedOn.Value.ToString("dd-MMM-yyyy")</span>
                        }
                        else
                        {
                            <span>@Model.Estimate.FldCreatedOn.ToString("dd-MMM-yyyy")</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Service Type</td>
                    <td>@Model.Job.FldServiceType</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


    </div>
    
    @*Parts breakup*@
    <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Parts Breakup</h4>
    <table class="table table-borderless" >
        <thead>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md"></td>
                <td class="col-md-1"></td>
                <td class="col-md-2"></td>
                <td class="col-md-2"></td>
                <td class="col-md-2"></td>
            </tr>
            <tr>
                <th >Sr No</th>
                <th >HSN</th>
                <th >Part Detail</th>
                <th >Quantity</th>
                <th class="text-end">Rate</th>
                <th class="text-end">Discount</th>
                <th class="text-end" >Amount</th>
            </tr>
        </thead>
        <tbody>
            @{int srNo = 0;}
            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
            {
                @if(item.FldItemType == ServiceItemTypes.Part && item.FldIsCancelled==false )
                {
                    srNo++;
                    <tr>
                        <td>@srNo</td>
                        <td>@item.FldHsnNumber</td>
                        <td>@item.FldItemTitle</td>
                        <td>@item.FldQuantity @item.FldQuantityUnit</td>
                        <td class="text-end" >@Math.Round(item.FldUnitAmount,2)</td>
                        <td class="text-end">@Math.Round(item.FldDiscountAmount,2)</td>
                        <td class="text-end">@Math.Round(item.FldItemTotal,2)</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="fw-bold" >
                <td colspan="6" class="text-end" >Parts Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Part && i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
        </tfoot>
    </table>
    
    @*Services breakup*@
    <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Labour Breakup</h4>
    <table class="table table-borderless">
        <thead>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md"></td>
                <td class="col-md-2"></td>
                <td class="col-md-2"></td>
                <td class="col-md-2"></td>
            </tr>
            <tr>
                <th >Sr No</th>
                <th >HSN</th>
                <th >Service Description</th>
                <th class="text-end">Rate</th>
                <th class="text-end">Discount</th>
                <th class="text-end">Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
                srNo = 0;
            }
            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
            {
                @if (item.FldItemType == ServiceItemTypes.Labor && item.FldIsCancelled == false)
                {
                    srNo++;
                    <tr>
                        <td>@srNo</td>
                        <td>@item.FldHsnNumber</td>
                        <td>@item.FldItemTitle</td>
                        <td class="text-end">@Math.Round(item.FldUnitAmount,2)</td>
                        <td class="text-end">@Math.Round(item.FldDiscountAmount,2)</td>
                        <td class="text-end">@Math.Round(item.FldItemTotal,2)</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot class="fw-bold" >
            <tr>
                <td colspan="5" class="text-end">Labour Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Labor && i.FldIsCancelled ==false )?i.FldItemTotal:0),2)</td>
            </tr>
        </tfoot>
    </table>

    @*Summary*@
    <h4 class="p-2 ps-3 border-start border-4 border-secondary text-secondary">Summary</h4>
    <table class="table table-borderless">
        <thead>
            <tr>
                <td class="col-md-8" ></td>
                <td class="col-md-2"></td>
                <td class="col-md-2"></td>
            </tr>
            <tr>
                <th class="bg-white" ></th>
                <th>Title</th>
                <th class=" text-end">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Parts Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Part && i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
            <tr>
                <td></td>
                <td>Labour Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Labor && i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
            <tr class="fs-4 fw-bold" >
                <td></td>
                <td>Grand Total</td>
                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
            </tr>
        </tbody>
    </table>

</div>

