@model CarService.Models.EstimateInvoiceViewModel
@using CarService.Models.Constants;

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-row justify-content-end p-4 bg-light">
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Estimate.FldEstimateId" class="btn btn-warning">Modify</a>
    <input type="button" class="btn btn-success" value="Print" />
</div>


<div id="PrintBlock">
    @*letterhead block *@
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                @Model.Org.FldAddress
            </div>
            <div class="row">
                @Model.Org.FldOrgEmail
            </div>
            <div class="row">
                @Model.Org.FldContactPerson1 : @Model.Org.FldContactNumber1<br />
                @Model.Org.FldContactPerson2 : @Model.Org.FldContactNumber2
            </div>
        </div>
        <div class="col-md-4">
            <img src="@Model.Org.FldLogo" />
        </div>
    </div>
    @*title block *@
    <hr />
    <h2>@Model.Estimate.FldInvoiceType</h2>
    <hr />
    @*Client details*@
    <table class="table table-sm table-borderless">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Model.Job.FldCustomerName</td>
                <td>Km</td>
                <td>@Model.Job.FldKmReadingOnRegistration</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>@Model.Job.FldCustomerContact1</td>
                <td>Date</td>
                <td>@Model.Estimate.FldCreatedOn</td>
            </tr>
            <tr>
                <td>Vehicle Number</td>
                <td>@Model.Job.FldVehicleRegisteredNumber</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Service Type</td>
                <td>@Model.Job.FldServiceType</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h3>Parts</h3>
    <table class="table table-sm" >
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Part Detail</th>
                <th>Quantity</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @{int srNo = 0;}
            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
            {
                @if(item.FldItemType == ServiceItemTypes.Part )
                {
                    srNo++;
                    <tr>
                        <td>@srNo</td>
                        <td>@item.FldItemTitle</td>
                        <td>@item.FldQuantity @item.FldQuantityUnit</td>
                        <td>@item.FldItemTotal</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end" >Total</td>
                <td>@Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Part )?i.FldItemTotal:0)</td>
            </tr>
        </tfoot>
    </table>
    <h3>Labour</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Part Detail</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @{
                srNo = 0;
            }
            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
            {
                @if (item.FldItemType == ServiceItemTypes.Labor)
                {
                    srNo++;
                    <tr>
                        <td>@srNo</td>
                        <td>@item.FldItemTitle</td>
                        <td>@item.FldItemTotal</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-end">Total</td>
                <td>@Model.EstimateItems.Sum(i=> (i.FldItemType == ServiceItemTypes.Labor )?i.FldItemTotal:0)</td>
            </tr>
        </tfoot>
    </table>
</div>

