@model CarService.Models.Entities.TblEstimateMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblEstimateMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldJobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldJobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldEstimateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldEstimateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldIsInvoiceGenerated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldIsInvoiceGenerated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldInvoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldInvoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldInvoiceCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldInvoiceCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldInvoiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldInvoiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldTotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldTotalAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FldEstimateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
