@model CarService.Models.Entities.TblEstimateMaster
@using CarService.Models.Constants;

@{

    ViewData["Title"] = "Edit";
}

<div class="d-flex flex-column  ps-3 pe-3 pb-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FldEstimateId" />
        <input type="hidden" asp-for="FldCreatedOn" class="form-control" />
        <input type="hidden" asp-for="FldJobId" class="form-control" />
        <input type="hidden" class="form-check-input" asp-for="FldIsInvoiceGenerated" />
        <input type="hidden" asp-for="FldTotalAmount" class="form-control" />

        <div class="row">
            @*Job details*@
            <div class="col-md-2 p-3 bg-white">
                <h5>1. Job Details</h5>

                <div class="form-group">
                    <label asp-for="FldJobId" class="control-label"></label>
                    <label class="form-control-plaintext">@ViewBag.JobNumber</label>
                </div>
            </div>
            @*Estimate details*@
            <div class="col-md-2 p-3 bg-info-transperent">
                <h5>2. Estimate Details</h5>
                <div class="form-group">
                    <label asp-for="FldEstimateNumber" class="control-label"></label>
                    <input asp-for="FldEstimateNumber" class="form-control" />
                    <span asp-validation-for="FldEstimateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldCreatedOn" class="control-label"></label>
                    <label class="form-control-plaintext">@Model.FldCreatedOn.ToString("dd-MMM-yyyy HH:mm tt")</label>
                </div>
            </div>
            @*Type*@
            <div class="col-md-2 p-3 bg-warning-transperent">
                <h5>3. Choose type & Create Invoice</h5>
                <div class="form-group">
                    <label asp-for="FldInvoiceType" class="control-label"></label>
                    <div class="form-check" hidden>
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Estimate" value="@InvoiceTypes.Estimate" @(Model.FldInvoiceType == InvoiceTypes.Estimate ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Estimate">@InvoiceTypes.Estimate</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Retail" value="@InvoiceTypes.Retail" @(Model.FldInvoiceType == InvoiceTypes.Retail ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Retail">@InvoiceTypes.Retail</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Tax" value="@InvoiceTypes.Tax" @(Model.FldInvoiceType == InvoiceTypes.Tax ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Tax">@InvoiceTypes.Tax</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Performa" value="@InvoiceTypes.Performa" @(Model.FldInvoiceType == InvoiceTypes.Performa ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Performa">@InvoiceTypes.Performa</label>
                    </div>
                    <span asp-validation-for="FldInvoiceType" class="text-danger"></span>
                </div>
            </div>
            @*Invoice details*@
            <div class="col-md-3 p-3 bg-success-transperent InvoiceDataBlock" style="display:@(Model.FldInvoiceType == InvoiceTypes.Estimate?"none":"")">
                <h5>4. Invoice Details</h5>
                <div class="form-group">
                    <label asp-for="FldInvoiceNumber" class="control-label"></label>
                    <input asp-for="FldInvoiceNumber" class="form-control" />
                    <span asp-validation-for="FldInvoiceNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldInvoiceCreatedOn" class="control-label"></label>
                    <input asp-for="FldInvoiceCreatedOn" class="form-control" step="60000" />
                    <span asp-validation-for="FldInvoiceCreatedOn" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-3 p-3 bg-success-transperent InvoiceDataBlock" style="display:@(Model.FldInvoiceType == InvoiceTypes.Estimate?"none":"")">
                <div class="form-group">
                    <label asp-for="FldInvoiceRemark" class="control-label"></label>
                    <textarea asp-for="FldInvoiceRemark" class="form-control" rows="10" ></textarea>
                    <span asp-validation-for="FldInvoiceRemark" class="text-danger"></span>
                </div>
            </div>
            @*Buttons*@
            <div class="col-md-12 d-flex flex-row justify-content-end p-3 pb-0 align-items-baseline bg-light">
                <div class="d-flex flex-fill fw-bold small text-danger justify-content-end pe-3">Enter invoice number,date & type to convert estimate to invoice**</div>
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <span class="p-2"></span>
                @if (Model.FldIsInvoiceGenerated == false)
                {
                    <a asp-action="Details" asp-route-id="@Model.FldEstimateId" class="btn btn-success">View Estimate</a>
                    <span class="p-2"></span>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@Model.FldEstimateId" class="btn btn-success">View Invoice</a>
                    <span class="p-2"></span>
                }
                <a asp-action="Details" asp-controller="JobMasters" asp-route-id="@Model.FldJobId" class="btn btn-warning">View Job</a>
                <span class="p-2"></span>
                <a asp-action="Index" asp-controller="JobMasters" class="btn btn-outline-primary">Back to List</a>
            </div>
        </div>

    </form>
</div>
<div class="d-flex flex-column shadow p-3">
    <div id="AddEstimateItemBlock">
    </div>
    <div id="ListEstimateItemsBlock" style="min-height:300px;">
    </div>
</div>
@*Buttons*@
<div class="col-md-12 d-flex flex-row justify-content-end p-3 pb-0 align-items-baseline bg-light">
    <a asp-action="Index" asp-controller="JobMasters" class="btn btn-outline-primary">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit / Cancel Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="LoadEditForm">
            </div>
        </div>
    </div>
</div>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    setTimeout(function () {

        $('html, body').animate({
            scrollTop: $("#AddEstimateItemBlock").offset().top
        }, 500);
        $("#AddEstimateItemBlock").load("../../EstimateItems/Create/@Model.FldEstimateId");
        $("#ListEstimateItemsBlock").load("../../EstimateItems/IndexEstimate/@Model.FldEstimateId");

        $('input[name="FldInvoiceType"]').on("change", function () {
            var CurrentType = $('input[name="FldInvoiceType"]:checked').val();
            if (CurrentType == "@InvoiceTypes.Estimate") {
                $(".InvoiceDataBlock").css("display","none");
            }
            else {
                $(".InvoiceDataBlock").css("display", "");
            }
        })

    }, 500);



    function CreateEstimateItem() {
        var SendData = new Object();
        SendData.FldEstimateId = $("#FldEstimateId").val();
        SendData.FldCancelReason = $("#FldCancelReason").val();
        SendData.FldIsCancelled = $("#FldIsCancelled").val();
        SendData.FldItemTitle = $("#FldItemTitle").val();
        SendData.FldItemType = $('input[name="FldItemType"]:checked').val();
        SendData.FldQuantity = $("#FldQuantity").val();
        SendData.FldQuantityUnit = $("#FldQuantityUnit").val();
        SendData.FldUnitAmount = $("#FldUnitAmount").val();
        SendData.FldDiscountAmount = $("#FldDiscountAmount").val();
        SendData.FldItemTotal = $("#FldItemTotal").val();
        SendData.FldHsnNumber = $("#FldHsnNumber").val();
        SendData.FldServiceItemId = $("#FldServiceItemId").val();
        SendData.FldCgstpercentage = $("#FldCgstpercentage").val();
        SendData.FldSgstpercentage = $("#FldSgstpercentage").val();
        $.post("../../EstimateItems/Create", SendData, function (res) {
            $("#AddEstimateItemBlock").html(res);
            $("#ListEstimateItemsBlock").load("../../EstimateItems/IndexEstimate/@Model.FldEstimateId");
        });
    }

    function DeleteEstimateItem(estitemid, estid) {
        var isConfirm = confirm("Confirm Delete ?");
        if (isConfirm) {
            var SendData = new Object();
            SendData.id = estitemid;
            $.post("../../EstimateItems/DeleteConfirmed", SendData, function (res) {
                if (res == "success") {
                    $("#ListEstimateItemsBlock").load("../../EstimateItems/IndexEstimate/" + estid);
                }
            });
        }
    }

    function EditEstimateItem(estitemid, estid) {
        $("#LoadEditForm").load("../../EstimateItems/Edit/" + estitemid, function () {
            new bootstrap.Modal(document.getElementById('exampleModal')).show();
        });
    }

    function ModifyEstimateItem() {
        var SendData = new Object();
        SendData.Id = $("#LoadEditForm #FldEstimateItemId").val();
        SendData.FldEstimateItemId = $("#LoadEditForm #FldEstimateItemId").val();
        SendData.FldEstimateId = $("#LoadEditForm #FldEstimateId").val();
        SendData.FldCancelReason = $("#LoadEditForm #FldCancelReason").val();
        SendData.FldIsCancelled = $("#LoadEditForm #FldIsCancelled").is(":checked");
        SendData.FldItemTitle = $("#LoadEditForm #FldItemTitle").val();
        SendData.FldItemType = $('#LoadEditForm #FldItemType').val();
        SendData.FldQuantity = $("#LoadEditForm #FldQuantity").val();
        SendData.FldQuantityUnit = $("#LoadEditForm #FldQuantityUnit").val();
        SendData.FldUnitAmount = $("#LoadEditForm #FldUnitAmount").val();
        SendData.FldDiscountAmount = $("#LoadEditForm #FldDiscountAmount").val();
        SendData.FldItemTotal = $("#LoadEditForm #FldItemTotal").val();
        SendData.FldHsnNumber = $("#LoadEditForm #FldHsnNumber").val();
        SendData.FldServiceItemId = $("#LoadEditForm #FldServiceItemId").val();
        SendData.FldCgstpercentage = $("#LoadEditForm #FldCgstpercentage").val();
        SendData.FldSgstpercentage = $("#LoadEditForm #FldSgstpercentage").val();

        $.post("../../EstimateItems/Edit", SendData, function (res) {

            if (res == "success") {
                $('#exampleModal').modal('hide');
            }
            else {
                $("#LoadEditForm").html(res);
            }
            $("#ListEstimateItemsBlock").load("../../EstimateItems/IndexEstimate/@Model.FldEstimateId");
        });
    }

</script>
