@model CarService.Models.Entities.TblEstimateMaster
@using CarService.Models.Constants;

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex flex-column bg-light ps-3 pe-3 pb-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FldEstimateId" />
        <input type="hidden" asp-for="FldCreatedOn" class="form-control" />
        <input type="hidden" asp-for="FldJobId" class="form-control" />
        <input type="hidden" class="form-check-input" asp-for="FldIsInvoiceGenerated" />
        <input type="hidden" asp-for="FldTotalAmount" class="form-control" />

        <div class="row">
            @*Job details*@
            <div class="col-md-3 p-3">
                <div class="form-group">
                    <label asp-for="FldJobId" class="control-label"></label>
                    <label class="form-control-plaintext">@ViewBag.JobNumber</label>
                </div>
            </div>
            @*Estimate details*@
            <div class="col-md-3 p-3">
                <div class="form-group">
                    <label asp-for="FldEstimateNumber" class="control-label"></label>
                    <input asp-for="FldEstimateNumber" class="form-control" />
                    <span asp-validation-for="FldEstimateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldCreatedOn" class="control-label"></label>
                    <label class="form-control-plaintext">@Model.FldCreatedOn.ToString("dd-MMM-yyyy HH:mm tt")</label>
                </div>
            </div>
            @*Invoice details*@
            <div class="col-md-3 p-3">
                <div class="form-group">
                    <label asp-for="FldInvoiceNumber" class="control-label"></label>
                    <input asp-for="FldInvoiceNumber" class="form-control" />
                    <span asp-validation-for="FldInvoiceNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldInvoiceCreatedOn" class="control-label"></label>
                    <input asp-for="FldInvoiceCreatedOn" class="form-control" />
                    <span asp-validation-for="FldInvoiceCreatedOn" class="text-danger"></span>
                </div>

            </div>
            @*Type*@
            <div class="col-md-3 p-3">
                <div class="form-group">
                    <label asp-for="FldInvoiceType" class="control-label"></label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Estimate" value="@InvoiceTypes.Estimate" checked="checked" />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Estimate">@InvoiceTypes.Estimate</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Performa" value="@InvoiceTypes.Performa" />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Performa">@InvoiceTypes.Performa</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Retail" value="@InvoiceTypes.Retail" />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Retail">@InvoiceTypes.Retail</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldInvoiceType" id="FldInvoiceType_@InvoiceTypes.Tax" value="@InvoiceTypes.Tax" />
                        <label class="form-check-label" for="FldInvoiceType_@InvoiceTypes.Tax">@InvoiceTypes.Tax</label>
                    </div>
                    <span asp-validation-for="FldInvoiceType" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*Buttons*@
        <div class="col-md-12 d-flex flex-row justify-content-end p-3">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
            <span class="p-2"></span>
            @if (Model.FldIsInvoiceGenerated == false)
            {
                <a asp-action="Details" asp-route-id="@Model.FldEstimateId" class="btn btn-outline-success">View Estimate</a>
                <span class="p-2"></span>
            }
            else
            {
                <a asp-action="Details" asp-route-id="@Model.FldEstimateId" class="btn btn-success">View Invoice</a>
                <span class="p-2"></span>
            }
            <a asp-action="Details" asp-controller="JobMasters" asp-route-id="@Model.FldJobId" class="btn btn-warning">View Job</a>
            <span class="p-2"></span>
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </form>
</div>
<div class="d-flex flex-column shadow p-3">
    <div id="AddEstimateItemBlock">
    </div>
    <div id="ListEstimateItemsBlock">
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    setTimeout(function () {
        $("#AddEstimateItemBlock").load("../../EstimateItems/Create/@Model.FldEstimateId");
        $("#ListEstimateItemsBlock").load("../../EstimateItems/IndexEstimate/@Model.FldEstimateId");

    }, 500);
    function CreateEstimateItem() {
        var SendData = new Object();
        SendData.FldEstimateId = $("#FldEstimateId").val();
        SendData.FldCancelReason = $("#FldCancelReason").val();
        SendData.FldIsCancelled = $("#FldIsCancelled").val();
        SendData.FldItemTitle = $("#FldItemTitle").val();
        SendData.FldItemType = $('input[name="FldItemType"]:checked').val();
        SendData.FldQuantity = $("#FldQuantity").val();
        SendData.FldQuantityUnit = $("#FldQuantityUnit").val();
        SendData.FldUnitAmount = $("#FldUnitAmount").val();
        SendData.FldDiscountAmount = $("#FldDiscountAmount").val();
        SendData.FldItemTotal = $("#FldItemTotal").val();
        $.post("../../EstimateItems/Create", SendData, function (res) {
            $("#AddEstimateItemBlock").html(res);
            $("#AddEstimateItemBlock").load("../../EstimateItems/Create/@Model.FldEstimateId");
            $("#ListEstimateItemsBlock").load("../../EstimateItems/IndexEstimate/@Model.FldEstimateId");

        });
    }
</script>
