@model IEnumerable<CarService.Models.Entities.TblEstimateMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">Estimates & Invoices</div>
    
</div>

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FldJobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldEstimateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldInvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldInvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldTotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldJobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEstimateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldInvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldInvoiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldTotalAmount)
            </td>
            <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.FldEstimateId"><img src="~/images/edit.png" class="IconButton" title="Modify Estimate/Invoice" data-toggle="tooltip" data-placement="top"></a>
                    <a asp-action="Details" asp-route-id="@item.FldEstimateId"><img src="~/images/invoice.png" class="IconButton" title="@(item.FldIsInvoiceGenerated?"View Invoice":"View Estimate")" data-toggle="tooltip" data-placement="top"></a>
                    <a asp-action="Delete" asp-route-id="@item.FldEstimateId"><img src="~/images/delete.png" class="IconButton" title="Delete Estimate/Invoice" data-toggle="tooltip" data-placement="top"></a>
            </td>
        </tr>
}
    </tbody>
</table>
