@using CarService.Models.Constants;
@{
    Layout = null;
    //Required : @ViewBag.Watermark
    //Required : @Model.Org
}
<div class="d-flex flex-row  border-top border-bottom border-dark pt-0 mt-2">
    <table class="table table-sm table-borderless mb-0 small text-capitalize">
        <tbody>
            <tr>
                @*Customer Detail*@
                <td class="col-md-5">
                    <table class="table table-sm table-borderless mb-0">
                        <tr>
                            <td class="col-md-3 fw-bold" >Name</td>
                            <td class="fw-bold">@Model.Job.FldCustomerName</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.Job.FldClientCompanyName))
                        {
                            <tr>
                                <td class=" fw-bold">Company</td>
                                <td class="fw-bold">@Model.Job.FldClientCompanyName</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(Model.Job.FldCompanyAddress))
                        {
                            <tr>
                                <td class=" fw-bold">Address</td>
                                <td class="fst-italic">@Model.Job.FldCompanyAddress</td>
                            </tr>
                        }
                        <tr>
                            <td class=" fw-bold">Contact</td>
                            <td>@Model.Job.FldCustomerContact1</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.Job.FldComanyGstnumber))
                        {
                            <tr>
                                <td class=" fw-bold">GST</td>
                                <td class="text-uppercase" > @Model.Job.FldComanyGstnumber</td>
                            </tr>
                        }
                    </table>
                </td>
                @*Vehicle Detail*@
                <td class="border-start col-md-4">
                    <table class="table table-sm table-borderless mb-0">
                        <tr>
                            <td class="fw-bold col-md-6">Vehicle Reg. No</td>
                            <td class="text-uppercase" >@Model.Job.FldVehicleRegisteredNumber</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Model</td>
                            <td>@Model.Job.FldModelNameNumber</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Pickup-date</td>
                            <td>@Model.Job.FldRegisteredOn.ToString("dd-MMM-yyyy")</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Pickup-km</td>
                            <td>@Math.Round(Model.Job.FldKmReadingOnRegistration,2)</td>
                        </tr>
                        @*Service type*@
                        <tr>
                            <td class="fw-bold">Service</td>
                            <td>@Model.Job.FldServiceType</td>
                        </tr>
                    </table>
                </td>
                @*Invoice/Estimate detail*@
                <td class="border-start col-md-3">
                    <table class="table table-sm table-borderless mb-0">
                        @*Document type*@
                        <tr>
                            <td colspan="2" class="fw-bold text-center fs-5 border-dark border-bottom pt-2 pb-2">
                                    @(Model.Estimate == null ? "Job No" : Model.Estimate.FldInvoiceType)
                            </td>
                        </tr>
                        @*Estimate name and date*@
                        @if (Model.Estimate != null)
                        {
                            <tr>
                                <td class="fw-bold">@(Model.Estimate.FldIsInvoiceGenerated ? "Invoice No" : "Estimate No")</td>
                                <td>
                                    @if (Model.Estimate.FldIsInvoiceGenerated)
                                    {
                                        <span>@Model.Estimate.FldInvoiceNumber</span>
                                    }
                                    else
                                    {
                                        <span>@Model.Estimate.FldEstimateNumber</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Issue Date</td>
                                <td>
                                    @if (Model.Estimate.FldIsInvoiceGenerated)
                                    {
                                        <span>@Model.Estimate.FldInvoiceCreatedOn.ToString("dd-MMM-yyyy")</span>
                                    }
                                    else
                                    {
                                        <span>@Model.Estimate.FldCreatedOn.ToString("dd-MMM-yyyy")</span>
                                    }
                                </td>
                            </tr>
                        }
                        @*Job Reference no*@
                        <tr>

                            <td class="fw-bold">Job Ref</td>
                            <td>
                                <span>@Model.Job.FldJobNo</span>
                            </td>
                        </tr>
                       
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style>

</style>
