@model CarService.Models.Entities.TblEstimateItem
@using CarService.Models.Constants;
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h4>Estimate / Invoice Items</h4>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="FldEstimateId" class="form-control" />
    <input hidden asp-for="FldCancelReason" class="form-control" />
    <input hidden asp-for="FldIsCancelled" class="form-check-input" />
    <input hidden asp-for="FldServiceItemId" class="form-check-input" />
    

    <div class="row pb-4">
        @*Item Name & HSN Number*@
        <div class="col-md-4 row">
            <div class="col-md-3 p-0">
                <div class="form-group">
                    <label class="control-label" asp-for="FldHsnNumber"></label>
                    <input asp-for="FldHsnNumber" class="form-control" />
                    <span asp-validation-for="FldHsnNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-9 p-0">
                <div class="form-group">
                    <label asp-for="FldItemTitle" class="control-label"></label>
                    <input asp-for="FldItemTitle" class="form-control" list="ServiceItemsSuggestions" onchange="SetHsnNumber()" />
                    <span asp-validation-for="FldItemTitle" class="text-danger"></span>
                    <datalist id="ServiceItemsSuggestions">
                        @foreach (CarService.Models.Entities.TblServiceItemMaster item in ViewBag.ServiceItem)
                        {
                            <option value="@item.FldItemName" hsn="@item.FldHsnNumber" type="@item.FldItemType" unit="@item.FldQuanitityUnit" sid="@item.FldServiceItemId">@item.FldItemName [@item.FldHsnNumber] </option>
                        }
                    </datalist>
                </div>
            </div>
        </div>
        @*Type*@
        <div class="col-md-1">
            <div class="form-group" id="FldItemTypeBlock">
                <label asp-for="FldItemType" class="control-label"></label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldItemType" id="FldItemType_@ServiceItemTypes.Part" value="@ServiceItemTypes.Part" class="form-control" onchange="ItemTypeChanged()" />
                    <label class="form-check-label" for="FldItemType_@ServiceItemTypes.Part">@ServiceItemTypes.Part</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldItemType" id="FldItemType_@ServiceItemTypes.Labor" value="@ServiceItemTypes.Labor" class="form-control" onchange="ItemTypeChanged()" />
                    <label class="form-check-label" for="FldItemType_@ServiceItemTypes.Labor">@ServiceItemTypes.Labor</label>
                </div>
            </div>
        </div>
        @*Quantity & Unit*@
        <div class="col-md-2 row" id="QtyBlock">
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label asp-for="FldQuantity" class="control-label"></label>
                    <input asp-for="FldQuantity" class="form-control" onfocusout="SetTotal()" />
                    <span asp-validation-for="FldQuantity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label asp-for="FldQuantityUnit" class="control-label"></label>
                    <select asp-for="FldQuantityUnit" class="form-control form-select" asp-items="Units.UnitList"></select>
                    <span asp-validation-for="FldQuantityUnit" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*Amount*@
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="FldUnitAmount" class="control-label"></label>
                <input asp-for="FldUnitAmount" class="form-control" onfocusout="SetTotal()" />
                <span asp-validation-for="FldUnitAmount" class="text-danger"></span>
            </div>
        </div>
        @*Discount*@
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="FldDiscountAmount" class="control-label"></label>
                <input asp-for="FldDiscountAmount" class="form-control" onfocusout="SetTotal()" />
                <span asp-validation-for="FldDiscountAmount" class="text-danger"></span>
            </div>
        </div>
        @*Total*@
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="FldItemTotal" class="control-label"></label>
                <input asp-for="FldItemTotal" class="form-control-plaintext" readonly />
                <span asp-validation-for="FldItemTotal" class="text-danger"></span>
            </div>
        </div>
        @*Button *@
        <div class="col-md-1">
            <div class="form-group">
                <label class="control-label">  </label>
                <input type="button" value="Add Item" class="btn btn-success" onclick="CreateEstimateItem()" />
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">

    function SetHsnNumber() {
        var selectedVal = $("#FldItemTitle").val();
        var hsn = $('#ServiceItemsSuggestions option[value="' + selectedVal + '"]').attr("hsn");
        var type = $('#ServiceItemsSuggestions option[value="' + selectedVal + '"]').attr("type");
        var unit = $('#ServiceItemsSuggestions option[value="' + selectedVal + '"]').attr("unit");
        var sid = $('#ServiceItemsSuggestions option[value="' + selectedVal + '"]').attr("sid");
        $('#FldHsnNumber').val(hsn);
        $("input[type='radio'][value='" + type + "']").prop("checked", true);
        $("#FldQuantityUnit option[value='" + unit + "']").prop("selected", true);
        if(sid==null || sid==undefined){
            sid="-1";
        }
        $("#FldServiceItemId").val(sid);
        if(hsn != null && hsn !=undefined && hsn !="")
        {
            $('#FldHsnNumber').addClass("DisableBlock");
            $('#FldHsnNumber').attr("tabindex","-1");

        }
        else{
            $('#FldHsnNumber').removeClass("DisableBlock");
            $('#FldHsnNumber').attr("tabindex", "0");

        }
        if (type != null && type != undefined && type != "") {
            $('#FldItemTypeBlock').addClass("DisableBlock");
            $('input[name="FldItemType"]').attr("tabindex", "-1");

        }
        else{
            $('#FldItemTypeBlock').removeClass("DisableBlock");
            $('input[name="FldItemType"]').attr("tabindex", "0");

        }
        if (unit != null && unit != undefined && unit != "") {
            $('#FldQuantityUnit').addClass("DisableBlock");
            $('#FldQuantityUnit').attr("tabindex", "-1");
        }
        else{
            $('#FldQuantityUnit').removeClass("DisableBlock");
            $('#FldQuantityUnit"]').attr("tabindex", "0");
        }
        


        $("#FldQuantity").val("1");
        $("#FldUnitAmount").val("");
    }

    function SetTotal() {
        var amount = parseFloat("0" + $("#AddEstimateItemBlock #FldUnitAmount").val());
        var Discount = parseFloat("0" + $("#AddEstimateItemBlock #FldDiscountAmount").val());
        var Quantity = parseFloat("0" + $("#AddEstimateItemBlock #FldQuantity").val());
        var total = ((Quantity * amount) - Discount).toFixed(2);
        $("#AddEstimateItemBlock #FldItemTotal").val(total);

    }

    function ItemTypeChanged() {
        var selectedvalue = $('input[name="FldItemType"]:checked').val();
        if (selectedvalue == "@ServiceItemTypes.Part") {
            $("#FldQuantity").val("1");
            $("#FldQuantityUnit").val("unit");
        }
        else {
            $("#FldQuantity").val("1");
            $("#FldQuantityUnit").val("unit");
        }
    }

</script>