@model CarService.Models.Entities.TblEstimateItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblEstimateItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldEstimateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldEstimateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldItemTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldItemTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldQuantityUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldQuantityUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldUnitAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldUnitAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldDiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldDiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldItemTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldItemTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldIsCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldIsCancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldCancelReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldCancelReason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FldEstimateItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
