@model IEnumerable<CarService.Models.Entities.TblEstimateItem>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th class="col-md-4" >
                @Html.DisplayNameFor(model => model.FldItemTitle)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.FldItemType)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.FldQuantity)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.FldUnitAmount)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.FldDiscountAmount)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.FldItemTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.FldIsCancelled?"text-danger":"")" >
            <td>
                <span class="text-secondary">[@item.FldHsnNumber]</span>
                @Html.DisplayFor(modelItem => item.FldItemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldQuantity)
                    @Html.DisplayFor(modelItem => item.FldQuantityUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldUnitAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldDiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldItemTotal)
            </td>
            <td class="text-end d-flex flex-row" >
                    <a onclick="EditEstimateItem(@item.FldEstimateItemId, @item.FldEstimateId)"><img src="~/images/edit.png" class="IconButton" title="Cancel Item" data-toggle="tooltip" data-placement="top"></a>
                    <a onclick="DeleteEstimateItem(@item.FldEstimateItemId, @item.FldEstimateId)"><img src="~/images/delete.png" class="IconButton" title="Delete Item" data-toggle="tooltip" data-placement="top"></a>
            </td>
        </tr>
}
    </tbody>
</table>
