@model CarService.Models.Entities.TblSystemUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblSystemUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldOrgId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldOrgId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldEmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldMobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldMobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldIsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldRole)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FldUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
