@model IEnumerable<CarService.Models.Entities.TblSystemUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FldOrgId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldEmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldMobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldIsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldOrgId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldMobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldIsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldRole)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FldUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FldUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FldUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
