@model CarService.Models.Entities.TblPayment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblPayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldJobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldJobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldPaidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldPaidAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldPaymentMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldPaymentMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldPaymentDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldPaymentDatetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FldPaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
