@model IEnumerable<CarService.Models.Entities.TblPayment>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FldPaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldPaymentMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldPaymentDatetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.FldPaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldPaymentMode)
            </td>
            <td>
                @item.FldPaymentDatetime.ToString("dd-MMM-yyyy HH:mm tt")
            </td>
            <td>
                    <a onclick="DeletePayment(@item.FldPaymentId,@item.FldJobId)"><img src="~/images/delete.png" class="IconButton" title="Delete Payment" data-toggle="tooltip" data-placement="top"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">

    function DeletePayment(Paymentid,jobid) {
        var isConfirm = confirm("Confirm Delete ?");
        if (isConfirm) {
            var SendData = new Object();
            SendData.id = Paymentid;
            $.post("../../Payments/DeleteConfirmed", SendData, function (res) {
                if (res == "success") {
                    $("#SavedPaymentList").load("../../Payments/Index/"+jobid, function () { });
                }
            });
        }
    }

</script>