@model IEnumerable<CarService.Models.Entities.TblPayment>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@if (ViewBag.PendingAmount !=null)
{
    <div class="alert alert-primary" role="alert">
        Pending : @ViewBag.PendingAmount
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        Estimate not created
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FldPaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldPaymentMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldPaymentDatetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.FldPaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldPaymentMode)
            </td>
            <td>
                @item.FldPaymentDatetime.ToString("dd-MMM-yyyy HH:mm tt")
            </td>
            <td class="text-end">
                    <a onclick="DeletePayment(@item.FldPaymentId,@item.FldJobId)"><img src="~/images/delete.png" class="IconButton" title="Delete Payment" data-toggle="tooltip" data-placement="top"></a>
            
                <a asp-action="Details" target="_blank" asp-route-id="@item.FldPaymentId">
                        <img src="~/images/recipt.png" class="IconButton" title="Payment Recipt" data-toggle="tooltip" data-placement="top">
                </a>
                </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">

    function DeletePayment(Paymentid,jobid) {
        var isConfirm = confirm("Confirm Delete ?");
        if (isConfirm) {
            var SendData = new Object();
            SendData.id = Paymentid;
            $.post("../../Payments/DeleteConfirmed", SendData, function (res) {
                if (res == "success") {
                    
                    $("#SavedPaymentList").load("../../Payments/Index/"+jobid, function () { });
                }
            });
        }
    }

</script>