@model CarService.Models.Entities.TblJobMaster
@using CarService.Models.Constants;

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Job</h1>

<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="FldIsCompleted" hidden />

    <div class="row ">
        @*Job Details*@
        <div class="col-md-2 p-4 bg-success-transperent">
            <h5>Job Details</h5>
            <div class="form-group" hidden>
                <label asp-for="FldOrgId" class="control-label"></label>
                <select asp-for="FldOrgId" class="form-control form-select" asp-items="@ViewBag.Organizations"></select>
                <span asp-validation-for="FldOrgId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="FldJobNo" class="control-label"></label>
                <input asp-for="FldJobNo" class="form-control" />
                <span asp-validation-for="FldJobNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldAmcbookNumber" class="control-label"></label>
                <input asp-for="FldAmcbookNumber" class="form-control" />
                <span asp-validation-for="FldAmcbookNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldServiceType" class="control-label"></label>
                <br />
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Free" value="@ServiceTypes.Free" checked="checked" />
                    <label class="form-check-label" for="FldServiceType_@ServiceTypes.Free">@ServiceTypes.Free</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Paid" value="@ServiceTypes.Paid" />
                    <label class="form-check-label" for="FldServiceType_@ServiceTypes.Paid">@ServiceTypes.Paid</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Repair" value="@ServiceTypes.Repair" />
                    <label class="form-check-label" for="FldServiceType_@ServiceTypes.Repair">@ServiceTypes.Repair</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Accident" value="@ServiceTypes.Accident" />
                    <label class="form-check-label" for="FldServiceType_@ServiceTypes.Accident">@ServiceTypes.Accident</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Other" value="@ServiceTypes.Other" />
                    <label class="form-check-label" for="FldServiceType_@ServiceTypes.Other">@ServiceTypes.Other</label>
                </div>
            </div>
           
           
        </div>
        @*Job Records*@
        <div class="col-md-2 p-4 bg-success-transperent">
            <h5>Job Records</h5>
            <div class="form-group">
                <label asp-for="FldRegisteredOn" class="control-label"></label>
                <input asp-for="FldRegisteredOn" class="form-control" />
                <span asp-validation-for="FldRegisteredOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldKmReadingOnRegistration" class="control-label"></label>
                <input asp-for="FldKmReadingOnRegistration" class="form-control" value="" />
                <span asp-validation-for="FldKmReadingOnRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldReference" class="control-label"></label>
                <input asp-for="FldReference" class="form-control" />
                <span asp-validation-for="FldReference" class="text-danger"></span>
            </div>
            <div class="form-group" hidden >
                <label asp-for="FldHandedOverOn" class="control-label"></label>
                <input asp-for="FldHandedOverOn" class="form-control" />
                <span asp-validation-for="FldHandedOverOn" class="text-danger"></span>
            </div>

        </div>
        @*Customer Details*@
        <div class="col-md-3 p-4 bg-warning-transperent">
            <h5>Customer Details</h5>
            <div class="form-group">
                <label asp-for="FldCustomerName" class="control-label"></label>
                <input asp-for="FldCustomerName" class="form-control" list="CustList" onchange="FillCustomerDetails()" />
                <datalist id="CustList">
                    @foreach (CustomerSuggestionListViewModel c in ViewBag.Customers)
                    {
                        <option name="@c.CustomerName" c1="@c.Contact1" c2="@c.Contact2" vno="@c.VehicleNumber" value="@c.VehicleNumber" >@c.CustomerName</option>
                    }
                </datalist>
                <span asp-validation-for="FldCustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldCustomerContact1" class="control-label"></label>
                <input asp-for="FldCustomerContact1" class="form-control" />
                <span asp-validation-for="FldCustomerContact1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldCustomerContact2" class="control-label"></label>
                <input asp-for="FldCustomerContact2" class="form-control" />
                <span asp-validation-for="FldCustomerContact2" class="text-danger"></span>
            </div>

        </div>
        @*Customer company Details*@
        <div class="col-md-3 p-4 bg-warning-transperent ">
            <h5>Customer company detail</h5>
           
            <div class="form-group">
                <label asp-for="FldClientCompanyName" class="control-label"></label>
                <input asp-for="FldClientCompanyName" class="form-control" />
                <span asp-validation-for="FldClientCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldCompanyAddress" class="control-label"></label>
                <textarea asp-for="FldCompanyAddress" class="form-control" rows="4" ></textarea>
                <span asp-validation-for="FldCompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldComanyGstnumber" class="control-label"></label>
                <input asp-for="FldComanyGstnumber" class="form-control" />
                <span asp-validation-for="FldComanyGstnumber" class="text-danger"></span>
            </div>

        </div>
        @*Vehicle Details*@
        <div class="col-md-2 p-4  bg-primary-transperent ">
            <h5>Vehicle Details</h5>
            <div class="form-group">
                <label asp-for="FldVehicleRegisteredNumber" class="control-label"></label>
                <input asp-for="FldVehicleRegisteredNumber" class="form-control" />
                <span asp-validation-for="FldVehicleRegisteredNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FldChessisNumber" class="control-label"></label>
                <input asp-for="FldChessisNumber" class="form-control" />
                <span asp-validation-for="FldChessisNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldEngineNumber" class="control-label"></label>
                <input asp-for="FldEngineNumber" class="form-control" />
                <span asp-validation-for="FldEngineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FldModelNameNumber" class="control-label"></label>
                <input asp-for="FldModelNameNumber" class="form-control" />
                <span asp-validation-for="FldModelNameNumber" class="text-danger"></span>
            </div>
        </div>
        

        @*Buttons*@
        <div class="d-flex flex-row justify-content-end p-4 bg-light">
            <input type="submit" value="Create Job" class="btn btn-success" />
            <div class="d-flex p-2"></div>
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    function FillCustomerDetails(val) {

        var selectedVal = $("#FldCustomerName").val();
        var c1 = $('#CustList option[value="' + selectedVal + '"]').attr("c1");
        var c2 = $('#CustList option[value="' + selectedVal + '"]').attr("c2");
        var vno = $('#CustList option[value="' + selectedVal + '"]').attr("vno");
        var name = $('#CustList option[value="' + selectedVal + '"]').attr("name");
        
        if (name != null && name != undefined) {
            $("#FldCustomerName").val(name);
        }
        if (c1 != null && c1 != undefined) {
            $("#FldCustomerContact1").val(c1);
        }
        if (c2 != null && c2 != undefined) {
            $("#FldCustomerContact2").val(c2);
        }
        if (vno != null && vno != undefined) {
            $("#FldVehicleRegisteredNumber").val(vno);
        }

    }
</script>