@model CarService.Models.Entities.TblJobMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblJobMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldOrgId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldOrgId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldJobNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldJobNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldVehicleRegisteredNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldVehicleRegisteredNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldChessisNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldChessisNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldEngineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldEngineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldModelNameNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldModelNameNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldServiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldRegisteredOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldRegisteredOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldKmReadingOnRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldKmReadingOnRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldCustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldCustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldCustomerContact1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldCustomerContact1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldCustomerContact2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldCustomerContact2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldHandedOverOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldHandedOverOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FldJobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
