@model CarService.Models.JobViewModel
@using CarService.Models.Constants;
@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/print.css" media="print" />
</head>

<div class="d-flex flex-row justify-content-end mb-4">
    <a asp-action="Edit" asp-route-id="@Model.Job.FldJobId" class="btn btn-sm btn-primary">Modify Job</a>
    <div class="p-2"></div>
    @if (Model.Estimate != null)
    {
        <a asp-action="Edit" asp-controller="EstimateMasters" asp-route-id="@Model.Estimate.FldEstimateId" class="btn btn-sm btn-primary">Modify Estimate</a>
        <div class="p-2"></div>
    }
    <a asp-action="Create" asp-controller="Payments" asp-route-id="@Model.Job.FldJobId" class="btn btn-sm btn-success">Modify Payments</a>
    <div class="p-2"></div>
    <input type="button" value="Print" class="btn btn-sm btn-danger" onclick="window.print()" />
    <div class="p-2"></div>
    <a asp-action="Index" class="btn btn-sm btn-outline-primary">Back to List</a>
</div>

<div class="d-flex justify-content-center bg-light">
    <div class="PrintArea bg-white shadow">

        @*Job Details*@
        <div class="row bg-info-transperent p-3 border-4 border-start border-info">
            <div class="col-md-4">
                <h6 class="text-info pb-3">Customer</h6>
                <div class="fw-bold fs-5 pb-2">@Model.Job.FldCustomerName</div>
                <div>@Model.Job.FldCustomerContact1</div>
                @if (!string.IsNullOrEmpty(Model.Job.FldCustomerContact2))
                {
                    <div>@Model.Job.FldCustomerContact2</div>
                }
            </div>
            <div class="col-md-4">
                <h6 class="text-info pb-3">Vehicle</h6>
                <div class="fw-bold fs-5  pb-1">@Model.Job.FldVehicleRegisteredNumber</div>
                @if (!string.IsNullOrEmpty(@Model.Job.FldModelNameNumber))
                {
                    <div class="pb-1">@Model.Job.FldModelNameNumber</div>
                }
                @if (!string.IsNullOrEmpty(@Model.Job.FldEngineNumber))
                {
                    <div class="pb-1 small fst-italic"> Engine No : @Model.Job.FldEngineNumber</div>
                }
                @if (!string.IsNullOrEmpty(@Model.Job.FldChessisNumber))
                {
                    <div class="small fst-italic">Chessis No : @Model.Job.FldChessisNumber</div>
                }
            </div>
            <div class="col-md-4">
                <h1> <span class="text-info">#@Model.Job.FldJobNo</span> </h1>
                <div class="small">Registered on : @Model.Job.FldRegisteredOn.ToString("dd-MMM-yyyy HH:mm tt") </div>
                @if (Model.Job.FldHandedOverOn.HasValue)
                {
                    <div class="small">Delivered on : @Model.Job.FldHandedOverOn.Value.ToString("dd-MMM-yyyy HH:mm tt") </div>
                }
            </div>
        </div>
        @*Job Remarks*@
        <div class="row p-3">
            <h4 class="text-dark ">Job Remarks</h4>
            @if (Model.JobRemarks == null || Model.JobRemarks.Count() == 0)
            {
                <div class="p-2 text-secondary">No remarks added</div>
            }
            else
            {
                int srNo = 0;
                @foreach (CarService.Models.Entities.TblJobRemark remark in Model.JobRemarks)
                {
                    srNo++;
                    <div class="row p-1">
                        <div class="col-md-1 text-end">@srNo.</div>
                        <div class="col-md-11">@remark.FldRemarkTitle</div>
                    </div>
                }
            }
        </div>


        @*Estimate , Invoice & items*@
        @if (Model.Estimate == null)
        {
            <div class="row p-3 bg-success-transperent">
                <h6 class="text-success">Estimate</h6>
                <div class="p-2 text-secondary">Estimate not created</div>
            </div>
        }
        else
        {
            @*Estimate & Invoice details *@
            <div class="row p-3 bg-success-transperent border-4 border-start border-success">
                <div class="col-md-8">
                    <h1 class=" text-success">#@Model.Estimate.FldEstimateNumber</h1>
                    <h6 class="text-success">Estimate</h6>
                    <div>@Model.Estimate.FldCreatedOn.ToString("dd-MMM-yyyy")</div>
                </div>
                <div class="col-md-4">
                    @if (Model.Estimate.FldIsInvoiceGenerated)
                    {
                        <h1> <span class="text-success">#@Model.Estimate.FldInvoiceNumber</span> </h1>
                        <h6 class="text-success">@Model.Estimate.FldInvoiceType</h6>
                        <div>@Model.Estimate.FldInvoiceCreatedOn.Value.ToString("dd-MMM-yyyy")</div>
                    }
                    else
                    {
                        <div class="text-secondary small">Invoice not generated</div>
                    }

                </div>
            </div>


            @*Estimate / Invoice Items*@
            <div class="row p-3">
                <h4 class="pb-3">Estimate / Invoice Items</h4>
                @if (Model.EstimateItems == null || Model.EstimateItems.Count() == 0)
                {
                    <div class="p-4 text-secondary">No estimate items found</div>
                }
                else
                {

                    <table class="table table-borderless mb-0">
                        <thead>
                            <tr>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1"></td>
                            </tr>
                            <tr>
                                <th>Sr No</th>
                                <th>HSN</th>
                                <th>Part Detail</th>
                                <th>Quantity</th>
                                <th class="text-end">Rate</th>
                                <th class="text-end">Amount</th>
                                <th class="text-end">Discount</th>
                                <th class="text-end">CGST</th>
                                <th class="text-end">SGST</th>
                                <th class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int srNo = 0;
                            }
                            @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
                            {
                                @if (item.FldIsCancelled == false)
                                {
                                    srNo++;
                                    <tr>
                                        <td>@srNo</td>
                                        <td>@item.FldHsnNumber</td>
                                        <td>@item.FldItemTitle</td>
                                        <td>@item.FldQuantity @item.FldQuantityUnit</td>
                                        <td class="text-end">@Math.Round(item.FldUnitAmount,2)</td>
                                        <td class="text-end">@Math.Round(item.ItemTotal,2)</td>
                                        <td class="text-end">@Math.Round(item.DiscountAmount,2)<br /><i class="small"> @Math.Round(item.FldDiscountAmount,2)%</td>
                                        <td class="text-end">@Math.Round(item.CGST_Amount,2)<br /><i class="small"> @Math.Round(item.FldCgstpercentage.Value,2)%</i></td>
                                        <td class="text-end">@Math.Round(item.SGST_Amount,2)<br /><i class="small">@Math.Round(item.FldSgstpercentage.Value,2)%</i></td>
                                        <td class="text-end">@Math.Round(item.FldItemTotal,2)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold bg-light">
                                <td colspan="9" class="text-end">Total</td>
                                <td class="text-end">@Math.Round(Model.EstimateItems.Sum(i=> (i.FldIsCancelled == false )?i.FldItemTotal:0),2)</td>
                            </tr>
                        </tfoot>
                    </table>

                    @if (Model.EstimateItems.Count(i => i.FldIsCancelled) > 0)
                    {
                        <br />
                        <h4>Cancelled Items</h4>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <td class="col-md-1"></td>
                                    <td class="col-md-1"></td>
                                    <td class="col-md-4"></td>
                                    <td class="col-md-1"></td>
                                    <td class="col-md-5"></td>
                                </tr>
                                <tr>
                                    <th>Sr No</th>
                                    <th>HSN</th>
                                    <th>Item Description</th>
                                    <th>Type</th>
                                    <th>Cancellation Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    srNo = 0;
                                }
                                @foreach (CarService.Models.Entities.TblEstimateItem item in Model.EstimateItems)
                                {
                                    @if (item.FldIsCancelled == true)
                                    {
                                        srNo++;
                                        <tr>
                                            <td>@srNo</td>
                                            <td>@item.FldHsnNumber</td>
                                            <td>@item.FldItemTitle</td>
                                            <td>@item.FldItemType</td>
                                            <td>@item.FldCancelReason</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        }

        @*Payments*@
        <div class="row p-3 bg-warning-transperent text-warning border-4 border-start border-warning">
            <h4>Payments</h4>
        </div>
        <div class="row p-4">

            @if (Model.Payments == null || Model.Payments.Count() == 0)
            {
                <div class="p-4 text-secondary">No Payments</div>
            }
            else
            {
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <td class="col-md-4"></td>
                            <td class="col-md-4"></td>
                            <td class="col-md-4"></td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Mode</th>
                            <th>Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CarService.Models.Entities.TblPayment payment in Model.Payments)
                        {
                            <tr>
                                <td>@payment.FldPaymentDatetime.ToString("dd-MMM-yyyy HH:mm tt")</td>
                                <td>@payment.FldPaymentMode</td>
                                <td class="text-end">@Math.Round(payment.FldPaidAmount,2)</td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="fw-bold">
                            <td></td>
                            <td></td>
                            <td class="text-end">@Math.Round(Model.Payments.Sum(p=>p.FldPaidAmount),2)</td>
                        </tr>
                    </tfoot>
                </table>

            }
        </div>

    </div>
</div>

