@model CarService.Models.Entities.TblJobMaster
@using CarService.Models.Constants

@{
    ViewData["Title"] = "Edit";
    String UserRole = (Context.Session.GetString(SessionKeys.UserRole) != null ? Context.Session.GetString(SessionKeys.UserRole) : "");

}

<div class="d-flex bg-light ps-3 pe-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FldJobId" />
        <input asp-for="FldIsCompleted" hidden />
        @*Create Job form*@
        <div class="row">
            @*Job Details*@
            <div class="col-md-2 p-4  bg-success-transperent">
                <h5>Job Details</h5>
                <div class="form-group" hidden>
                    <label asp-for="FldOrgId" class="control-label"></label>
                    <select asp-for="FldOrgId" class="form-control form-select" asp-items="@ViewBag.Organizations"></select>
                    <span asp-validation-for="FldOrgId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldJobNo" class="control-label"></label>
                    <input asp-for="FldJobNo" class="form-control form-control-plaintext"  />
                    <span asp-validation-for="FldJobNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldServiceType" class="control-label"></label>
                    <br />
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Free" value="@ServiceTypes.Free" @(Model.FldServiceType == ServiceTypes.Free?"checked='checked'":"") />
                        <label class="form-check-label" for="FldServiceType_@ServiceTypes.Free">@ServiceTypes.Free</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Paid" value="@ServiceTypes.Paid" @(Model.FldServiceType == ServiceTypes.Paid ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldServiceType_@ServiceTypes.Paid">@ServiceTypes.Paid</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Repair" value="@ServiceTypes.Repair" @(Model.FldServiceType == ServiceTypes.Repair ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldServiceType_@ServiceTypes.Repair">@ServiceTypes.Repair</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Accident" value="@ServiceTypes.Accident" @(Model.FldServiceType == ServiceTypes.Accident ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldServiceType_@ServiceTypes.Accident">@ServiceTypes.Accident</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="FldServiceType" id="FldServiceType_@ServiceTypes.Other" value="@ServiceTypes.Other" @(Model.FldServiceType == ServiceTypes.Other ? "checked='checked'" : "") />
                        <label class="form-check-label" for="FldServiceType_@ServiceTypes.Other">@ServiceTypes.Other</label>
                    </div>
                </div>
            </div>
            @*Job Records*@
            <div class="col-md-2 p-4 bg-success-transperent">
                <h5>Job Records</h5>
                <div class="form-group">
                    <label asp-for="FldRegisteredOn" class="control-label"></label>
                    <input asp-for="FldRegisteredOn" class="form-control form-control-plaintext" step="60000"  />
                    <span asp-validation-for="FldRegisteredOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldKmReadingOnRegistration" class="control-label"></label>
                    <input asp-for="FldKmReadingOnRegistration" class="form-control" />
                    <span asp-validation-for="FldKmReadingOnRegistration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldReference" class="control-label"></label>
                    <input asp-for="FldReference" class="form-control" />
                    <span asp-validation-for="FldReference" class="text-danger"></span>
                </div>
                <div class="form-group" @(Model.IsInvoiceCreated?"":"hidden")>
                    <label asp-for="FldHandedOverOn" class="control-label fw-bold"></label>
                    <input asp-for="FldHandedOverOn" class="form-control" step="60000" />
                    <span asp-validation-for="FldHandedOverOn" class="text-danger"></span>
                </div>

            </div>

            @*Customer Details*@
            <div class="col-md-3 p-4 bg-warning-transperent">
                <h5>Customer Details</h5>
                <div class="form-group">
                    <label asp-for="FldCustomerName" class="control-label"></label>
                    <input asp-for="FldCustomerName" class="form-control" />
                    <span asp-validation-for="FldCustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldCustomerContact1" class="control-label"></label>
                    <input asp-for="FldCustomerContact1" class="form-control" />
                    <span asp-validation-for="FldCustomerContact1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldCustomerContact2" class="control-label"></label>
                    <input asp-for="FldCustomerContact2" class="form-control" />
                    <span asp-validation-for="FldCustomerContact2" class="text-danger"></span>
                </div>

            </div>

            @*Customer company Details*@
            <div class="col-md-3 p-4 bg-warning-transperent ">
                <h5>Customer company detail</h5>

                <div class="form-group">
                    <label asp-for="FldClientCompanyName" class="control-label"></label>
                    <input asp-for="FldClientCompanyName" class="form-control" />
                    <span asp-validation-for="FldClientCompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldCompanyAddress" class="control-label"></label>
                    <textarea asp-for="FldCompanyAddress" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="FldCompanyAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldComanyGstnumber" class="control-label"></label>
                    <input asp-for="FldComanyGstnumber" class="form-control" />
                    <span asp-validation-for="FldComanyGstnumber" class="text-danger"></span>
                </div>

            </div>
            @*Vehicle Details*@
            <div class="col-md-2 p-4 bg-primary-transperent">
                <h5>Vehicle Details</h5>
                <div class="form-group">
                    <label asp-for="FldVehicleRegisteredNumber" class="control-label"></label>
                    <input asp-for="FldVehicleRegisteredNumber" class="form-control" />
                    <span asp-validation-for="FldVehicleRegisteredNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FldChessisNumber" class="control-label"></label>
                    <input asp-for="FldChessisNumber" class="form-control" />
                    <span asp-validation-for="FldChessisNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldEngineNumber" class="control-label"></label>
                    <input asp-for="FldEngineNumber" class="form-control" />
                    <span asp-validation-for="FldEngineNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FldModelNameNumber" class="control-label"></label>
                    <input asp-for="FldModelNameNumber" class="form-control" />
                    <span asp-validation-for="FldModelNameNumber" class="text-danger"></span>
                </div>
            </div>
            @*Buttons*@
            <div class="col-md-12 d-flex flex-row justify-content-end p-3">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                @if(UserRole == UserRoles.OrganizationAdmin)
                {
                    <div class="d-flex p-2"></div>
                    <a asp-action="Delete" asp-route-id="@Model.FldJobId" class="btn btn-danger">Delete Job</a>

                }
                <div class="d-flex p-2"></div>
                <a asp-action="Index"  class="btn btn-outline-primary">Back to List</a>
            </div>
        </div>
    </form>
</div>
<div class="d-flex shadow p-4 flex-column">
    <h4>Job Remarks / Customer Complaints</h4>

    <div id="AddJobRemarkBlock">
    </div>
    <div id="ListJobRemarkBlock" class="mt-3" style="min-height:500px;">
    </div>
    @*Buttons*@
    <div class="col-md-12 d-flex flex-row justify-content-end p-3">
        
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    setTimeout(function () {
        //$('html, body').animate({
        //    scrollTop: $("#AddJobRemarkBlock").offset().top
        //}, 500);
        $("#AddJobRemarkBlock").load("../../JobRemarks/Create/@Model.FldJobId");
        $("#ListJobRemarkBlock").load("../../JobRemarks/IndexJob/@Model.FldJobId");

    }, 500);
    function CreateJobItem() {
        var SendData = new Object();
        SendData.FldJobId = $("#FldJobId").val();
        SendData.FldRemarkTitle = $("#FldRemarkTitle").val();
        $.post("../../JobRemarks/Create", SendData, function (res) {
            $("#AddJobRemarkBlock").html(res);
            $("#AddJobRemarkBlock").load("../../JobRemarks/Create/@Model.FldJobId");
            $("#ListJobRemarkBlock").load("../../JobRemarks/IndexJob/@Model.FldJobId");

        });
    }
</script>
