@model IEnumerable<CarService.Models.Entities.TblJobMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">My Jobs</div>
    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New Job</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <div class="d-flex p-4 justify-content-center align-items-center text-secondary">No Jobs</div>
}
else
{
    <div class="d-flex justify-content-end fst-italic text-info">@Model.Count() Jobs</div>
    <table class="table">
        <thead>
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.FldOrgId)
            </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.FldJobNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FldCustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FldVehicleRegisteredNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FldServiceType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FldRegisteredOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FldHandedOverOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldJobNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldCustomerName)<br />
                        @Html.DisplayFor(modelItem => item.FldCustomerContact1)<br />
                        @Html.DisplayFor(modelItem => item.FldCustomerContact2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldVehicleRegisteredNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldServiceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldRegisteredOn)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.FldHandedOverOn)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FldJobId">Edit</a>
                        <a asp-action="Create" asp-controller="EstimateMasters" asp-route-id="@item.FldJobId">Generate estimate</a>
                        <a asp-action="Details" asp-route-id="@item.FldJobId">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.FldJobId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}