@model IEnumerable<CarService.Models.Entities.TblJobMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">My Jobs</div>
    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New Job</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <div class="d-flex p-4 justify-content-center align-items-center text-secondary">No Jobs</div>
}
else
{
    <div class="d-flex justify-content-end fst-italic text-info">@Model.Count() Jobs</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1" >
                    @Html.DisplayNameFor(model => model.FldJobNo)
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.FldCustomerName)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldVehicleRegisteredNumber)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldServiceType)
                </th>

                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldRegisteredOn)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldHandedOverOn)
                </th>
                <th class="col-md-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldJobNo)
                        <br />
                        @if (item.IsInvoiceCreated)
                        {
                            <i class="small text-success">Invoice Generated</i>
                        }
                        else if (item.IsEstimateCreated)
                        {
                            <i class="small text-warning">Estimate Generated</i>
                        }
                        else
                        {
                            <i class="small text-primary">Job</i>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldCustomerName)<br />
                        <i class="text-primary small">
                            @Html.DisplayFor(modelItem => item.FldCustomerContact1)
                            @if (!string.IsNullOrEmpty(item.FldCustomerContact2))
                            {
                               <span> , </span>@Html.DisplayFor(modelItem => item.FldCustomerContact2)
                            }
                        </i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldVehicleRegisteredNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldServiceType)
                    </td>
                    <td>
                        @item.FldRegisteredOn.ToString("dd-MMM-yyyy")
                    </td>
                  
                    <td>
                        @(item.FldHandedOverOn.HasValue ? item.FldHandedOverOn.Value.ToString("dd-MMM-yyyy") : "-")

                    </td>
                 
                    <td class="text-end" >

                        <a asp-action="Create" asp-controller="Payments" asp-route-id="@item.FldJobId"><img src="~/images/AddPayment.png" class="IconButton" title="Add Payment" data-toggle="tooltip" data-placement="top"></a>
                        @if (item.IsEstimateCreated)
                        {
                            <a asp-action="Edit" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId"><img src="~/images/invoice.png" class="IconButton" title="Edit Estimate / Generate Invoice" data-toggle="tooltip" data-placement="top"></a>
                        }
                        else
                        {
                            <a asp-action="Create" asp-controller="EstimateMasters" asp-route-id="@item.FldJobId"><img src="~/images/estimate.png" class="IconButton" title="Generate Estimate" data-toggle="tooltip" data-placement="top"></a>
                        }
                        <a asp-action="Details" asp-route-id="@item.FldJobId"><img src="~/images/details.png" class="IconButton" title="Job Details" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Edit" asp-route-id="@item.FldJobId"><img src="~/images/edit.png" class="IconButton" title="Edit Job" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Delete" asp-route-id="@item.FldJobId"><img src="~/images/delete.png" class="IconButton" title="Delete Job" data-toggle="tooltip" data-placement="top"></a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}