@model IEnumerable<CarService.Models.Entities.TblJobMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">My Jobs</div>
    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New Job</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <div class="d-flex p-4 justify-content-center align-items-center text-secondary">No Jobs</div>
}
else
{
    <div class="d-flex justify-content-end fst-italic text-info">@Model.Count() Running Jobs</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1" >
                    @Html.DisplayNameFor(model => model.FldJobNo)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.FldCustomerName)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldVehicleRegisteredNumber)
                </th>
                <th class="col-md-1">
                    Type
                </th>
                <th class="col-md">
                   Timeline
                </th>
                <th class="col-md text-end">
                    Payments
                </th>
                <th class="col-md-1 text-center">
                    Status
                </th>
                <th class="col-md-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold" >
                        @Html.DisplayFor(modelItem => item.FldJobNo)
                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldCustomerName)<br />
                        <i class="text-secondary small">
                            @Html.DisplayFor(modelItem => item.FldCustomerContact1)
                            @if (!string.IsNullOrEmpty(item.FldCustomerContact2))
                            {
                               <span> , </span>@Html.DisplayFor(modelItem => item.FldCustomerContact2)
                            }
                        </i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldVehicleRegisteredNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldServiceType)
                    </td>
                    <td  >
                        <span class="text-dark small"> @item.FldRegisteredOn.ToString("dd-MMM-yy HH:mm")</span>
                        <br>
                        <span class="text-success fw-bold small">  @(item.FldHandedOverOn.HasValue ? item.FldHandedOverOn.Value.ToString("dd-MMM-yy HH:mm ") : "-")</span>
                    </td>
                    <td class="text-end small">
                        @if (item.InvoicedAmount > 0)
                        {
                            <span class="text-dark" title="Invoiced" data-toggle="tooltip" data-placement="top"> @Math.Round(item.InvoicedAmount,2)</span>
                        }
                        @if (item.FldHandedOverOn.HasValue || item.PaidAmount>0 || item.InvoicedAmount>0)
                        {
                            <span class="text-success" title="Paid" data-toggle="tooltip" data-placement="top"> - @Math.Round(item.PaidAmount,2)</span>
                        }
                        @if (item.PaidAmount < item.InvoicedAmount && item.InvoicedAmount>0)
                        {
                            <br>
                            <span class="text-danger" title="Pending" data-toggle="tooltip" data-placement="top">@Math.Round(item.InvoicedAmount- item.PaidAmount,2)</span>
                        }
                    </td>
                    <td class="text-center fw-bold" >
                        @if (item.FldHandedOverOn.HasValue && item.PaidAmount < item.InvoicedAmount)
                        {
                            <i class="small text-danger">Payment</i>
                        }
                        else if (item.IsInvoiceCreated)
                        {
                            <i class="small text-success">Invoiced</i>
                        }
                        else if (item.IsEstimateCreated)
                        {
                            <i class="small text-warning">Estimated</i>
                        }
                        else
                        {
                            <i class="small text-primary">Job</i>
                        }
                    </td>
                    <td class="text-end" >

                        @if (item.IsInvoiceCreated)
                        {
                            <a asp-action="Details" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId" target="_blank" ><img src="~/images/invoice_view.png" class="IconButton" title="View Invoice" data-toggle="tooltip" data-placement="top"></a>
                        }
                        @if (item.IsEstimateCreated)
                        {
                            <a asp-action="Edit" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId"><img src="~/images/estimate_edit.png" class="IconButton" title="Edit Estimate / Invoice" data-toggle="tooltip" data-placement="top"></a>
                        }
                        else
                        {
                            <a asp-action="Create" asp-controller="EstimateMasters" asp-route-id="@item.FldJobId"><img src="~/images/estimate_add.png" class="IconButton" title="Generate Estimate" data-toggle="tooltip" data-placement="top"></a>
                        }
                        <a asp-action="Edit" asp-route-id="@item.FldJobId"><img src="~/images/edit.png" class="IconButton" title="Edit Job" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Create" asp-controller="Payments" asp-route-id="@item.FldJobId"><img src="~/images/AddPayment.png" class="IconButton" title="Payments" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Details" asp-route-id="@item.FldJobId"><img src="~/images/job_view.png" class="IconButton" title="Job Details" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Delete" asp-route-id="@item.FldJobId"><img src="~/images/delete.png" class="IconButton" title="Delete Job" data-toggle="tooltip" data-placement="top"></a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}