@model IEnumerable<CarService.Models.Entities.TblJobMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">My Jobs</div>
    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New Job</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <div class="d-flex p-4 justify-content-center align-items-center text-secondary">No Jobs</div>
}
else
{
    <div class="d-flex flex-row pb-2">
        @*Status filter*@
        <div class="d-flex flex-row fw-bold" id="StatusFilter">
            <div class="form-check-inline" title="Vehicle is delivered & payment is still pending" data-toggle="tooltip" data-placement="top">
                <input type="checkbox" class="form-check-input" id="Chk_Status_01" value="Payment" onchange="FilterByStatus()" checked>
                <label for="Chk_Status_01" class="ps-2 form-check-label text-danger">Payment</label>
            </div>
            <div class="form-check-inline" title="Invoice is generated & vehicle is not delivered" data-toggle="tooltip" data-placement="top">
                <input type="checkbox" class="form-check-input" id="Chk_Status_02" value="Invoiced" onchange="FilterByStatus()" checked >
                <label for="Chk_Status_02" class="ps-2 form-check-label text-success">Invoiced</label>
            </div>
            <div class="form-check-inline" title="Job Estimation is ready & invoice is pending" data-toggle="tooltip" data-placement="top">
                <input type="checkbox" class="form-check-input" id="Chk_Status_03" value="Estimated" onchange="FilterByStatus()" checked>
                <label for="Chk_Status_03" class="ps-2 form-check-label text-warning">Estimated</label>
            </div>
            <div class="form-check-inline" title="Job is created & remarks are added" data-toggle="tooltip" data-placement="top">
                <input type="checkbox" class="form-check-input" id="Chk_Status_04" value="Job" onchange="FilterByStatus()" checked>
                <label for="Chk_Status_04" class="ps-2 form-check-label text-primary">Job</label>
            </div>
            <div class="form-check-inline" title="Job is created & remarks are yet to be added" data-toggle="tooltip" data-placement="top">
                <input type="checkbox" class="form-check-input" id="Chk_Status_05" value="Draft" onchange="FilterByStatus()" checked>
                <label for="Chk_Status_05" class="ps-2 form-check-label text-info">Draft</label>
            </div>
        </div>
        @*Result counts*@
        <div class="d-flex flex-fill justify-content-end fst-italic text-info">@Model.Count() Running Jobs</div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1" >
                    #Job 
                </th>
                <th class="col-md-2">
                    Customer
                </th>
                <th class="col-md-1">
                    Vehicle
                </th>
                <th class="col-md-1">
                    Type
                </th>
                <th class="col-md">
                   Timeline
                </th>
                <th class="col-md text-end">
                    Payments
                </th>
                <th class="col-md-1 text-center">
                    Status
                </th>
                <th class="col-md-3"></th>
            </tr>
        </thead>
        <tbody id="FilterTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold" >
                        @Html.DisplayFor(modelItem => item.FldJobNo)
                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldCustomerName)<br />
                        <i class="text-secondary small">
                            @Html.DisplayFor(modelItem => item.FldCustomerContact1)
                            @if (!string.IsNullOrEmpty(item.FldCustomerContact2))
                            {
                               <span> , </span>@Html.DisplayFor(modelItem => item.FldCustomerContact2)
                            }
                        </i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldVehicleRegisteredNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldServiceType)
                    </td>
                    <td  >
                        <span class="text-dark small"> @item.FldRegisteredOn.ToString("dd-MMM-yy HH:mm")</span>
                        <br>
                        <span class="text-success fw-bold small">  @(item.FldHandedOverOn.HasValue ? item.FldHandedOverOn.Value.ToString("dd-MMM-yy HH:mm ") : "-")</span>
                    </td>
                    <td class="text-end small">
                        @if (item.InvoicedAmount > 0)
                        {
                            <span class="text-dark" title="Invoiced" data-toggle="tooltip" data-placement="top"> @Math.Round(item.InvoicedAmount,2)</span>
                        }
                        @if (item.FldHandedOverOn.HasValue || item.PaidAmount>0 || item.InvoicedAmount>0)
                        {
                            <span class="text-success" title="Paid" data-toggle="tooltip" data-placement="top"> - @Math.Round(item.PaidAmount,2)</span>
                        }
                        @if (item.PaidAmount < item.InvoicedAmount && item.InvoicedAmount>0)
                        {
                            <br>
                            <span class="text-danger" title="Pending" data-toggle="tooltip" data-placement="top">@Math.Round(item.InvoicedAmount- item.PaidAmount,2)</span>
                        }
                    </td>
                    <td class="text-center fw-bold" >
                        @if (item.FldHandedOverOn.HasValue && item.PaidAmount < item.InvoicedAmount)
                        {
                            <i class="small text-danger">Payment</i>
                        }
                        else if (item.IsInvoiceCreated)
                        {
                            <i class="small text-success">Invoiced</i>
                        }
                        else if (item.IsEstimateCreated)
                        {
                            <i class="small text-warning">Estimated</i>
                        }
                        else if (item.IsJobItemsCreated)
                        {
                            <i class="small text-primary">Job</i>
                        }
                        else
                        {
                            <i class="small text-info">Draft</i>
                        }
                    </td>
                    <td class="text-end" >

                        @if (item.IsInvoiceCreated)
                        {
                            <a asp-action="Details" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId" target="_blank" ><img src="~/images/invoice_view.png" class="IconButton" title="View Invoice" data-toggle="tooltip" data-placement="top"></a>
                            <a asp-action="Edit" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId"><img src="~/images/invoice_edit.png" class="IconButton" title="Modify Invoice" data-toggle="tooltip" data-placement="top"></a>
                        }

                        @if (item.IsEstimateCreated && item.IsInvoiceCreated==false)
                        {
                            <a asp-action="Details" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId" target="_blank"><img src="~/images/recipt.png" class="IconButton" title="View Estimate" data-toggle="tooltip" data-placement="top"></a>
                            <a asp-action="Edit" asp-controller="EstimateMasters" asp-route-id="@item.EstimateInvoiceId"><img src="~/images/estimate_edit.png" class="IconButton" title="Modify Estimate" data-toggle="tooltip" data-placement="top"></a>
                        }
                        @if(item.IsJobItemsCreated && item.IsEstimateCreated ==false)
                        {
                            <a asp-action="Create" asp-controller="EstimateMasters" asp-route-id="@item.FldJobId"><img src="~/images/estimate_add.png" class="IconButton" title="Generate Estimate" data-toggle="tooltip" data-placement="top"></a>
                        }
                        <a asp-action="Edit" asp-route-id="@item.FldJobId"><img src="~/images/job.png" class="IconButton" title="Modify Job" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Create" asp-controller="Payments" asp-route-id="@item.FldJobId"><img src="~/images/AddPayment.png" class="IconButton" title="Payments" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Details" asp-route-id="@item.FldJobId"><img src="~/images/job_view.png" class="IconButton" title="Job Summary" data-toggle="tooltip" data-placement="top"></a>
                        <a asp-action="Delete" asp-route-id="@item.FldJobId"><img src="~/images/delete.png" class="IconButton" title="Delete Job" data-toggle="tooltip" data-placement="top"></a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


 <script type="text/javascript">
    function FilterByStatus(){
        var CheckedStatus = $("#StatusFilter input[type='checkbox']:checked");
        var Status = new Array();
        for(var i=0;i<CheckedStatus.length;i++)
        {
            Status.push(">"+$(CheckedStatus[i]).val().toLowerCase()+"<");
        }

        $("#FilterTable tr").each(function(){
            var isContain = false;
            var html = $(this).html().toLowerCase();
            for (var i = 0; i < Status.length; i++)
            {
                if (html.indexOf(Status[i])>=0)
                {
                    isContain=true;
                }
            }
            if (Status.length>0)
            {
                if(isContain)
                {
                    $(this).show();
                }
                else{
                    $(this).hide();
                }
            }
            else{
                $(this).show();
            }
        });
        
    }
 </script>