@model IEnumerable<CarService.Models.Entities.TblOrganizationMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">My Organizations</div>
    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New Organization</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <div class="d-flex p-4 justify-content-center align-items-center text-secondary">No Organizations</div>
}
else
{
    <div class="d-flex justify-content-end fst-italic text-info">@Model.Count() Organizations</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.FldOrgName)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.FldOrgEmail)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.FldContactPerson1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FldIsFullSubscription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FldActiveUntil)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldOrgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldOrgEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldContactPerson1)<br>
                        @Html.DisplayFor(modelItem => item.FldContactNumber1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldIsFullSubscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldActiveUntil)
                    </td>
                    <td class="text-end" >

                        <a asp-action="Edit" asp-route-id="@item.FldOrgId"><img src="~/images/edit.png" class="IconButton" title="Edit Organization" ></a> 
                        <a asp-action="Delete" asp-route-id="@item.FldOrgId"><img src="~/images/delete.png" class="IconButton" title="Delete Organization"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
