@model CarService.Models.Entities.TblServiceItemMaster

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Confirmation</h1>
<br />
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldQuanitityUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldQuanitityUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldIdealAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldIdealAmount)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FldCgstpercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FldCgstpercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FldSgstpercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FldSgstpercentage)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="FldServiceItemId" />
        <input type="submit" value="Yes, Confirm Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-primary" >No, Back to List</a>
    </form>
</div>
