@model IEnumerable<CarService.Models.Entities.TblServiceItemMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FldItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldQuanitityUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldIdealAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldQuanitityUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldIdealAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FldServiceItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FldServiceItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FldServiceItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
