@using CarService.Models.Constants;
@model IEnumerable<CarService.Models.Entities.TblServiceItemMaster>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row pb-5">
    <div class="d-flex flex-fill display-6">Part & Labor</div>
    <div class="d-flex align-items-center">
        <a asp-action="Create" class="btn btn-success">Create New Part / Labor</a>
    </div>
</div>

@if (Model == null || Model.Count() == 0)
{
    <div class="d-flex p-4 justify-content-center align-items-center text-secondary">No Service Items added</div>
}
else
{
    <div class="d-flex justify-content-end fst-italic text-info">@Model.Count() Items</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2" >
                    @Html.DisplayNameFor(model => model.FldHsnNumber)
                </th>
                <th class="col-md-5">
                    @Html.DisplayNameFor(model => model.FldItemName)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldItemType)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldQuanitityUnit)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldCgstpercentage)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.FldSgstpercentage)
                </th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FldHsnNumber</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldItemName)
                    </td>
                    <td class="@(item.FldItemType == ServiceItemTypes.Part?"text-primary":"text-success")" >
                        
                        @Html.DisplayFor(modelItem => item.FldItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldQuanitityUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldCgstpercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FldSgstpercentage)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.FldServiceItemId"><img src="~/images/edit.png" class="IconButton" title="Delete item" /></a>
                        <a asp-action="Delete" asp-route-id="@item.FldServiceItemId"><img src="~/images/delete.png" class="IconButton" title="Delete item" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
